<!DOCTYPE html>
<html>

<head>
    <title>ICTRACTICAL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
    <script src="/jquery.js"></script>
    <script src="/build/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.common.min.js" integrity="sha512-mO702mHlRSyiikpZ/tE5PDAHi1FYjgjDkoT/yvK7DgE8o22bcq/fvby2tqF5G9tOJrnFakgBSuv/Oki5UMq1jA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <a href="income/">income form </a>
    <br>
    <a href="expense/">expense from</a>
    <br>
    <a href="date/">date from</a>
    <br>
    <div style="display: grid; grid-template-columns: 300px 300px 300px 300px;grid-gap: 50px;">
        <div >
            <p>INCOME LIST</p>
            <ul class="list-group">
                {% for income in income_objects %}
                <li class="list-group-item">
                    <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">income:{{income.income}}</p>
                    <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">amount:{{income.income_amount}}</p>
                    <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">time:{{income.income_instance_creation_date}}</p>
                </li>
                {% endfor %}
    
            </ul>
        </div>
    
        
        <div>
            <p>EXPENSE LIST</p>
            <ul class="list-group">
                {% for expense in expense_objects %}
                <li class="list-group-item">
                    <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">Expense:{{expense.expense}}</p>
                    <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">amount:{{expense.expense_amount}}</p>
                    <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">time:{{expense.expense_instance_creation_date}}</p>
                </li>
                {% endfor %}
    
            </ul>
        </div>
        <div>
            <div>
                <p> On hand:{{on_hand}}  </p>         
    
            </div>
            <div >
                <p>INCOME LIST before date</p>
                <ul class="list-group">
                    {% for income in income_date %}
                    <li class="list-group-item">
                        <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">income:{{income.income}}</p>
                        <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">amount:{{income.income_amount}}</p>
                        <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">time:{{income.income_instance_creation_date}}</p>
                    </li>
                    {% endfor %}
        
                </ul>
            </div>
            <div >
                <p>Expense LIST before date</p>
                <ul class="list-group">
                    {% for income in income_date %}
                    <li class="list-group-item">
                        <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">income:{{income.income}}</p>
                        <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">amount:{{income.income_amount}}</p>
                        <p class="display-6" class="shadow-lg p-3 mb-5 bg-body rounded">time:{{income.income_instance_creation_date}}</p>
                    </li>
                    {% endfor %}
        
                </ul>
            </div>
        </div>
        <div>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    
    
                    <input type="datetime-local" id="birthdaytime" name="datetime">
                    <button name="save" type="submit" class="btn btn-success">date</button>
                </form>       
    
            </div>
            <div> {{date}} </div>
            <div> {{datetime_object}} </div>
            
        </div>
        
    
    
    </div>
    <script type="text/javascript"> jQuery('#datetimepicker').datetimepicker();</script>   
</body>




</html>